deb https://mirror.arvancloud.ir/ubuntu {{ ansible_distribution_release }} main restricted universe multiverse
deb https://mirror.arvancloud.ir/ubuntu {{ ansible_distribution_release }}-updates main restricted universe multiverse
deb https://mirror.arvancloud.ir/ubuntu {{ ansible_distribution_release }}-security main restricted universe multiverse