MINIO_VOLUMES="http://minio-{0...{{ groups['minioServers'] | length - 1 }}}:9000{{ minio_storage_path }}{0...{{ groups['minioServers'] | length - 1 }}}/minio"

MINIO_OPTS="--console-address :9001  {{ minio_server_opts }}"


{% if minio_access_key %}
# Access Key of the server.
MINIO_ROOT_USER="{{ minio_access_key }}"
{% endif %}
{% if minio_secret_key %}
# Secret key of the server.
MINIO_ROOT_PASSWORD="{{ minio_secret_key }}"
{% endif %}

{{ minio_server_env_extra }}